#########################################
# Cadence Xcelium simulation output 'sim'
########################################

modus/*
# Simulation (for RTL).
sim/rtl/*
!sim/rtl/files.f
!sim/rtl/gtkWave.gtkw
!sim/rtl/restore.tcl
!sim/rtl/restore.tcl.svcf

# Post-synthesis simulation.
sim/postsyn/*
!sim/postsyn/files.f
!sim/postsyn/restore.tcl
!sim/postsyn/restore.tcl.svcf

# Post Place and Route simulation.
sim/postpnr/*
!sim/postpnr/files.f
!sim/postpnr/restore.tcl
!sim/postpnr/restore.tcl.svcf
!sim/postpnr/post_pnr.tfile

.simvision/
# xrun.log
# xrun.history
# xrun.key
# xrun.info
# xrun*.log
# *.shm/
# *.shm
*.vcd
*.fsdb
*.wlf
*.diag
*.dump
 
# Simulation databases
# xcelium.d/
# INCA_libs/

#verilator output directory
verilator_sim/
 
# General logs and temporary files
*.log
*.jou
*.bak
*.tmp
*.swp
 
# Optional: ignore shell scripts generated during sim
*.run.*
*.script.*
 
# Ignore waveform viewers' files (optional)
# waves.shm/

# Ignore binaries
*.elf
*.bin
*.o

# Process Design Kit files (various local-only IP files)
# EDIT: in this edu repo the pdk's are open-sourced
# rtl/pdk/*
# !rtl/pdk/.gitkeep

# Ignore Visual Studio Code local files
.vscode/

# Ignore all build folders
sw/*/*/*/build/*
# !sw/*/*/build/*.list

# Ignore everything in syn except run script and .sdc constraints
syn/*
!syn/run.tcl
!syn/run_scan.tcl
!syn/ibex.sdc
!syn/ibex_functional_mode.sdc
!syn/ibex_shift_mode.sdc
!syn/ibex_capture_mode.sdc
!syn/file_list.f

##################################################
## PNR files
##################################################
pnr/*
!pnr/scripts/
!pnr/IO_configs/
!pnr/scripts/**
!pnr/IO_configs/**
!pnr/ibex_mmmc.view

##################################################
## FPGA IGNORE FILES
##################################################
# Vivado project folders
vivado/MLAB_riscv_mcu/            
!vivado/MLAB_riscv_mcu/*.xpr      

# sub-directories that get recreated every run
vivado/MLAB_riscv_mcu.cache/
vivado/MLAB_riscv_mcu.hw/
vivado/MLAB_riscv_mcu.ip_user_files/
vivado/MLAB_riscv_mcu.runs/
vivado/MLAB_riscv_mcu.sim/    

# common generated junk
*.pb
*.wdf
*.rpt
*.jou
*.log
*.xml
*.db

# Temporary files
*.backup
*.tmp
*.bak
*~
.DS_Store
Thumbs.db

.clang-format

#Jupyter notebook restore file
.ipynb_checkpoints

##################################################
## Full system test specific files 
##################################################

# Upload latest tb's report file generated by 'script/ci/test/full_system.sh'
!tb/log/report.log
tb/out1_images
tb/out2_images